body {
    background-color:rgb(170, 185, 200);
    background-size: 100%;
}

h1,h2,h3,h4,h5 {
    font-family: 'Slabo 27px', serif;
    color:black;
}

h6 {
    font-family: 'Slabo 27px', serif;
    color:rgb(47, 107, 102);
}

.difficulty-font {
    font-family: 'Grenze', serif;
    font-size:20px;
}

.easy {
    color:greenyellow;
}

.medium {
    color:orange;
}

.hard {
    color:red;
}

.light-blue {
    color:rgb(154, 207, 219);
}

.p-smaller-font {
    font-size:13px;
}

.ready-button-container {
    height:50px;
    display:flex;
    align-items:center;
}

#ready-button {
    font-family: 'Grenze', serif;
    height:40px;
    width:100px;
    background-image: linear-gradient(#dedede, rgb(207, 207, 207));
    border:none;
    border-radius:15px;
    font-size:20px;
    color:black;
    border:solid silver 2px;
}

#ready-button:hover {
    background-image: linear-gradient(rgb(207, 207, 207), #dedede);
}

#ready-button i {
    font-size:15px;
}

.page-container {
    max-width:1300px;
}

.padding-left {
    padding-left:40px;
}

/* index.html */

.mastermind-menu {
    width:100%;
    border-radius:10px;
    border:solid #313131 1px;
    margin-bottom:32px;
    background-image: linear-gradient(rgb(226, 226, 226), #ffffff);
    padding:10px;
    box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.2);
}

.rules-image {
    border-radius:15px;
    border:solid black 1px;
    width:100%;
}

/* mastermind board */

.board-row-height {
    height:43px;
}

.fixed-width-section {
    width:340px;
}

.mastermind-board-container {
    width:310px;
    height:525px;
    border-radius:10px;
    background-image: url('../images/wood-background-two.png');
    background-size: 100% 100%;
    box-shadow:rgba(0,0,0,0.5) 4px 4px 8px;
    margin-right:10px;
}

.counter-black-hole {
    width:15px;
    height:15px;
    border-radius:50%;
    background-color:rgb(50,50,50);
    border:solid black 1px;
    display: inline block;
    float:left;
    margin-right:14px;
}

.side-border-divider {
    border-left:solid black 1px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.marker-black-hole {
    width:6px;
    height:6px;
    background-color:lightgray;
    border:solid black 1px;
    margin:4px;
    border-radius:50%;
    display:inline-block;
    float:left;
}

.check-round-button {
    font-size:10px;
    border:solid black 1px;
    border-radius:5px;
}

.check-round-button:focus {
    outline: none;
}

.answer-container {
    height:68px;
}

.answer-wrapper {
    position:relative;
}

.master-mind-cover {
    width:201px;
    height:70px;
    background: url('../images/mastermind-cover.png');
    background-size:100% 100%;
    opacity:0;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    top:12px;
    left:2px;
    z-index:50;
}

.masters-counters-position {
    margin-top:30px;
    padding-left:40px;
}

.fade-in {
    animation-name: fadein;
    animation-duration:1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



/* choose counter */

.choose-button {
    width:32px;
    height:32px;
    border-radius:50%;
}

.choose-button:hover {
    cursor:pointer;
    width:34px;
    height:34px;
}

.choose-button:active {
    width: 29px;
    height: 29px;
}

.choose-red {
    background-color:rgb(245, 60, 39);
    border:solid white 1px;
}

.choose-red:hover {
    background-color:rgb(199, 60, 44);
}

.choose-green {
    background-color:rgb(63, 227, 48);
    border:solid white 1px;
}

.choose-green:hover {
    background-color:rgb(56, 179, 45);
}

.choose-yellow {
    background-color:rgb(235, 225, 52);
    border:solid white 1px;
}

.choose-yellow:hover {
    background-color:rgb(194, 186, 48);
}

.choose-blue {
    background-color:rgb(45, 115, 227);
    border:solid white 1px;
}

.choose-blue:hover {
    background-color:rgb(44, 103, 199);
}

.choose-orange {
    background-color:rgb(255, 131, 15);
    border:solid white 1px;
}

.choose-orange:hover {
    background-color:rgb(231, 107, 36);
}

.choose-white {
    background-color:rgb(255, 255, 255);
    border:solid white 1px;
}

.choose-white:hover {
    background-color:rgb(192, 192, 192);
}

#choose-hole {
    width:15px;
    height:15px;
    background-color: black;
    border-radius:50%;
    border:solid black 1px;
}

.not-in-use {
    position:absolute;
    color:rgb(173, 31, 31);
    font-size: 25px;
}

/* chosen counter */

.counter {
    width:26px;
    height:26px;
    border-radius:50%;
    position:relative;
    right:6px;
    bottom:6px;
    box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.hole-counter {
    width:26px;
    height:26px;

}

/* marker peg  */

.marker-container {
    width:32px;
    height:32px;
    transform: rotateZ(180deg);
    background-image: url('../images/peg-container-background.png');
    background-size: 100% 100%;
}

.marker-peg {
    width:10px;
    height:10px;
    border-radius:50%;
    bottom:11px;
    right:2.5px;
    box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    margin:3px;
    display:inline-block;
    float:right;
    transform: rotateZ(180deg);
}

/* hole selector */

.hole-selector {
    position:relative;
    font-size:15px;
    bottom:22px;
    left:3px;
    color:rgb(150, 0, 0);
    animation-name: holeSelectorAnimation;
    animation-duration:1.3s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
}

.hole-selector-check {
    position:relative;
    top:0px;
    left:-3px;
    animation-name: holeSelectorCheckAnimation;
    animation-duration:1.3s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
}

/* accessory shop */

.coin-color {
    animation-name:coinGlow;
    animation-duration:3s;
    animation-iteration-count: infinite;
    transition-timing-function: alternate;
}

.expand-container {
    display:flex;
    justify-content:space-around;
    padding-top: 15px;
    padding-bottom:15px;
    padding-right:10px;
    padding-left:10px;
}

.dropdown-arrow {
    font-size: 15px;
    margin-left:5px;
}

.dropdown-arrow:hover {
   cursor: pointer;
}

.shop-counter-container {
    border-radius:solid black 1px;
    border-radius:10px;
    background-color:white;
    border:solid black 1px;
    text-align: center;
    width:30%;
    display:inline-block;
    box-shadow: inset 0px 0px 5px 5px rgba(255,255,255,0.5);
}

.shop-counter-container:hover {
    cursor: pointer;
}

.shop-counter-container p {
    margin-bottom:10px;
}

.shop-theme-container {
    border-radius:solid black 1px;
    border-radius:10px;
    background-color:white;
    border:solid black 1px;
    text-align: center;
    width:23.5%;
    display:inline-block;
    box-shadow: inset 0px 0px 5px 5px rgba(255,255,255,0.5);
    cursor:pointer;
}

/* backgrounds */

.fruit-background-container {
    background-image: url('../images/fruit-background.png');
    background-size: 150%;
}

.fruit-background {
    background-image: url('../images/fruit-background.png');
    background-size: 100%;
}

.pink-background-container {
    background-image: url('../images/pink-background.png');
    background-size: 150%;
}

.pink-background {
    background-image: url('../images/pink-background.png');
    background-size: 100%;
}

.ice-background-container {
    background-image: url('../images/ice-background.png');
    background-size: 150%;
}

.ice-background {
    background-image: url('../images/ice-background.png');
    background-size: 100%;
}

/* inventory */

.inventory-sections {
    width:19%;
    border:solid black 1px;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:7px;
    box-shadow: inset 0px 0px 5px 5px rgba(255,255,255,0.65);
}

.inventory-selected {
    box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.1);
}

#basic-counter-inventory {
    width:26px;
    height:26px;
    background-color:red;
    border-radius:50%;
    border:solid black 1px;
    cursor:pointer;
}

#classic-counter-inventory {
    width:26px;
    height:26px;
    background-image: url('../images/green-counter.png');
    background-size:100%;
    border-radius:50%;
    cursor:pointer;
}

.Inventory-background {
    width:50px;
    height:50px;
    background-color:blue;
}

.Inventory-background:hover {
    cursor: pointer;
    background-color:lightblue;
}
/* themes */

.basic-theme-inventory {
    background-color:rgb(170, 185, 200);
}

/* counter types */

/* basic */

.basic-counter {
    width:24px;
    height:24px;
    border-radius:50%;
    position:relative;
    right:6px;
    bottom:4px;
    border:solid black 1px;
    border-radius:50%;
}

.basic-red-counter {
    background-color:red;
}

.basic-green-counter {
    background-color:rgb(148, 218, 44);
}

.basic-yellow-counter {
    background-color:yellow;
}

.basic-blue-counter {
    background-color:blue;
}

.basic-orange-counter {
    background-color:orange;
}

.basic-white-counter {
    background-color:white;
}

/* stats */

td,th {
    text-align:center;
    width:70px;
}

.colour-secondary {
    color:rgb(86, 152, 167);
}

/* Animations */ 

@keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes holeSelectorAnimation {
    0% {
        font-size:15px;
        bottom:22px;
        left:2px;
        color:rgba(150, 0, 0,1);
    }
    50% {
        font-size:12px;
        bottom:30px;
        left:3px;
        color:rgba(209, 46, 46, 0.5);
    }
    100% {
        font-size:15px;
        bottom:22px;
        left:2px;
        color:rgba(150, 0, 0,1);
    }
}

@keyframes holeSelectorCheckAnimation {
    0% {
        font-size:15px;
        top:0px;
        left:-3px;
        color:rgba(150, 0, 0,1);
    }
    50% {
        font-size:12px;
        top:-1.5px;
        left:-11px;
        color:rgba(209, 46, 46, 0.5);
    }
    100% {
        font-size:15px;
        top:0px;
        left:-3px;
        color:rgba(150, 0, 0,1);
    }
}

@keyframes coinGlow {
    0% {color: #ffc107;}
    25% {color: #ffd000;}
    50% {color: #ebdc11;}
    75% {color: #e6d11b;}
    100% {color: #ffc107;}
}

/* media queries */

@media (max-width:450px) {
    .mastermind-board-container {
        margin-right:0px;
    }
    .ice-background {
        background-image: url('../images/ice-background-mobile.png');
    }
    .pink-background {
        background-image: url('../images/pink-background.png');
        background-size:200%;
    }
    .fruit-background {
        background-image: url('../images/fruit-background-mobile.png');
        background-size:200%;
    }
} 













/* themes */

.inventory-background-classic-theme {
    background-color:#bfcccf;
}

.classic-theme {
    color:rgb(123, 182, 195);
}

.inventory-background-fruit-theme {
    background-color:rgb(240, 245, 201);
}

.fruit-theme {
    color:rgb(255, 179, 80);
}


.inventory-background-pink-theme {
    background-color:rgb(241, 221, 233);
}

.pink-theme {
    color:rgb(240, 114, 187);
}

.inventory-background-ice-theme {
    background-color:rgb(223, 245, 244);
}

.ice-theme {
    color:rgb(170, 170, 170);
}